<div class="container col-md-6 well">
	<div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
</div>


<div class="container col-md-6" id="details">
	<div class="jumbotron" ng-show="test.showDetails">
		<h2 ng-hide="test.editDetails" class="text-center">{{ test.event.title }}</h2>
		<p ng-hide="test.editDetails">{{ test.event.description }}</p>
		<form role="form" ng-show="test.editDetails">
			<div class="form-group">
				<input class="form-control input-lg" type="text" ng-model="test.event.title">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" ng-model="test.event.description">
			</div>
			<div class="form-actions">
				<button ng-click="test.updateEvent()" class="btn btn-primary">Save</button>
			</div>
		</form>
		<btn class="btn btn-danger" ng-click="test.testtest()" ng-hide="test.editDetails">>TEST</btn>
		<btn class="btn btn-success" ng-click="test.edit()" ng-hide="test.editDetails">Edit</btn>
	</div>
</div>
<btn class="btn btn-primary" ng-click="test.showEvents()">Show events</btn>
<btn class="btn btn-primary" ng-click="test.showEvent()">Show event</btn>

<p>{{ test.event.start }}</p>



