<h2>Login</h2>
<h1>{{ login.loggedIn }}</h1>
<form name="form" ng-submit="asdf.Login()" role="form">
	<div class="form-group" ng-class="test">
		<label for="username">Username</label>
		<input type="text" name="username" id="username" class="form-control" ng-model="login.username" required />
	</div>
	<div class="form-group" ng-class="test">
		<label for="password">Password</label>
		<input type="password" name="password" id="password" class="form-control" ng-model="login.password" required />
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Login</button>
		<a ui-sref="login.register" class="btn btn-primary">Register</a>
	</div>
</form>
