<html lang="en">
	<head>
		<meta charset="utf-8"/>
		
		<base href="/">
		
		<link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
		<!-- jquery, moment, and angular have to get included before fullcalendar -->
		
		
		
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
		<script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
		<script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
		<!-- <script tyoe="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script> -->
		
		<script type="text/javascript" src="js/mainController.js"></script>
		
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/app.routes.js"></script>
		
		<link rel="stylesheet" href="stylesheets/calendar.css"/>
	
	</head>
	
	<body ng-app="schedulerApp">
		<div ng-controller="mainController as main">
			<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" ui-sref="home">Scheduler</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse" uib-collapse="navCollapsed">
						<ul class="nav navbar-nav">
							<li><a ui-sref="schedule.calendar" ng-click="navCollapsed = true">Schedule</a></li>
							<li><a ui-sref="about" ng-click="navCollapsed = true">About</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li ng-hide="loggedIn">
								<a ui-sref="login.form" ng-click="navCollapsed = true">Login</a>
							</li>
							<li ng-hide="loggedIn">
								<a ui-sref="login.register" ng-click="navCollapsed = true">Register</a>
							</li>
							<li uib-dropdown ng-show="loggedIn">
								<a href uib-dropdown-toggle>User</a>
								<ul uib-dropdown-menu>
									<li><a ui-sref="profile">Profile</a></li>
									<li><a ui-sref="account">Account Settings</a></li>
									<li><a href="" ng-click="Logout()">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>		
			
			<div ui-view></div>				
		</div>
	</body>
</html>